<div id="navbar">
</div>
    <div class="sidebar">
        <div id="links">
            <br>
        <%= link_to 'My Budgets', controller: 'finances' %> <br><br>
        <%= link_to 'Create Budget', new_finance_path, :method => "get"%>
        </div>
    </div>
    <div>
        <h1 class="headbody">Welcome to BudgEditing!</h1>
        <img src = "https://mygreatlakes.org/mglstatic/educate/images/knowledge-center/successful-budgeting-main.jpg" class="homebody" alt = "Picture of coins on a budget" height="300">
        <p class="homebody">BudgEditing is a simple, free to use application meant to help you manage your money! <br><br>
                            The developers of BudgEditing would like to thank you for using our application! If you have any questions or concerns feel free to contact our team.</p>
    </div>
</div>
    