<div id="navbar">
    
    <%= link_to image_tag("https://marazul.com.pa/wp-content/uploads/marazul-servicios-cost-budget.png", :height => 50, :align => "center"), "https://751dc8b793054bf4807f6adb88c29c2d.vfs.cloud9.us-east-2.amazonaws.com/" %>
</div>
    <div class="sidebar">
        <div id="links">
            <br>
        <%= link_to 'My Budgets', controller: 'finances' %> <br><br>
        <%= link_to 'Create Budget', new_finance_path, :method => "get"%>
        </div>
    </div>
    <div>
        <strong><h1 class="headbody">Welcome to BudgEditing!</h1></strong>
        <img id="image" src = "https://mygreatlakes.org/mglstatic/educate/images/knowledge-center/successful-budgeting-main.jpg" class="homebody" alt = "Picture of coins on a budget" height="300">
        <p class="homebody">BudgEditing is a simple, free to use application meant to help you manage your money! <br><br>
                            The developers of BudgEditing would like to thank you for using our application! If you have any questions or concerns feel free to contact our team.</p>
    </div>
</div>
    