<div id="navbar"></div>
    <div class="sidebar">
        <div id="links">
            <br>
        <%= link_to 'My Budgets', controller: 'finances' %> <br><br>
        <%= link_to 'Create New Budget', new_finance_path, :method => "get"%>
        </div>
    </div>
    <div id="body">
        <h1>Welcome to BudgEditing!</h1>
        
    </div>
</div>
    