// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#navbar {
    background-color: #36454f;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
}

body {
    background-color: #c8cbce;
}

.headbody {
    text-align: center;
    padding-top: 50px;
    top: 200px;
    left: 205px;
    font-size: 48px;
    font-family: Mohave;
}

.sidebar {
    background-color: #20B2AA;
    position: fixed;
    top: 60px;
    left: 0px;
    width: 200px;
    height: 100%;
}

#title {
    text-align: center;
    font-size: 32;
}

#links {
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
    font-family: Mohave;
}
.homebody {
  text-align: center;
  top: 200px;
  left: 205px;
  font-size: 20px;
  font-family: Mohave;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-collapse: collapse;
  float: up;
}

table {
    margin-top: 20px;
  top: 200px;
  left: 205px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-family: Mohave;
}

th, td {
  text-align: left;
  padding: 8px;
}

.cell {
    width: 500px;
}

tr:nth-child(even){background-color: #20B2AA}
tr:nth-child(odd){background-color: #f2f2f2}

th {
  background-color: #36454f;
  color: white;
}

.body1 {
    text-align: center;
  top: 200px;
  left: 205px;
  font-size: 20px;
  font-family: Mohave;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-collapse: collapse;
  float: up;
  padding-top: 50px;
}

input[type=submit] {
    background-color: #36454f;
    color: white;
    border: none;
    padding: 8px 10px;
    font-weight: bold;
    font-family: Mohave;
    font-size: 16px;
}